   @import url("../js/dijit/themes/claro/claro.css");
   html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font:12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

.rijitProductNavigation 
{
	height:100%;
}
.rijitProductNavigation .productLayoutTable{
	width:100%;
	height:100%;
}
.rijitProductNavigation .productLayoutTable th,tr,td{
	border: 1px solid black;
	height:100%;
	vertical-align: top;


}
.rijitProductNavigation .productLayoutTable td:first-child
{
	width:10%;
}