<div>
	<div style="height:100%" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true">
		<div class="navigation" data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'left', splitter:true, title:'Navigation'">
			<div class="fullsize" data-dojo-attach-point="navigation">navigation ada d
			 adfa da dad fs dfas</div>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'center'">
			<div data-dojo-attach-point="navigationContentNode">navigation content adad ad a dadf ad a dfadf
			 adadf a fda</div>
		</div>
	</div>
</div>

